.container
{
    width: 100%;
    margin: 0%;
}
.table{
    width: 100%;
}
.table td
{
    border-left: 1px white solid;
}

.table tr:nth-child(even)
{
    background-color: rgba(236, 232, 232, 0.658);
}
